{% extends 'base.html' %}

{% block content %}

<section class="bg-primary text-light shadow">
    <div class="container p-5 pb-3 bg-primary">
        <div class="row">
            <div class="d-md-flex bg-primary text-left">
                <h1 class="col">Welcome!</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                {% if current_user.is_authenticated %}
                    <div class="col">
                        <h4>Way to be signed in!</h4>
                        <a href="{{ url_for('site.profile') }}">Profile Page</a>
                    </div>
                {% else %}

                <div class="col justify-content-start text-left">
                    <h4>For returning users:</h4>
                    <a href="{{ url_for('auth.signin') }}">
                        <button class="btn btn-primary my-3 px-3">
                            Log In
                        </button>
                    </a>
                    <h4>Are you new here?</h4>
                    <a href="{{ url_for('auth.signup') }}">
                        <button class="btn btn-primary my-3">
                            Log Up
                        </button> 
                    </a>
                </div>
             
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}