{% extends 'base.html' %}

{% block content %}

<section class="bg-primary text-light text-center shadow">
    <div class="container p-5 bg-primary">
        <div class="row">
            <div class="d-md-flex bg-primary align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Welcome!</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                {% if current_user.is_authenticated %}
                
                <h4>Way to be signed in!</h4>
                <a href="{{ url_for('site.profile') }}">Profile Page</a>
              
                {% else %}

                <h4>For returning users:</h4>
                <a href="{{ url_for('auth.signin') }}">Log In</a>
               
                <h4>New to Owfs?</h4>
                <a href="{{ url_for('auth.signup') }}">Log Up</a>
             
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}